# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db
Desktop.ini
